<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ description or site.description }}">
<title>{{ site.title }} | {{ title }}</title>
<link rel="author" href="/about/">
<link rel="stylesheet" href="/css/starboy.css">
<script src="/js/theme-picker.js" type="module"></script>
<script src="/js/github-activity.js" type="module"></script>